body {
  max-width:1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  }

header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: black;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  background-color: #3c446a;
}

.logo, .social {
  flex-grow: 1;
  padding: 10px;
  background-color: #ca4c4c;

}

nav {
  flex-grow: 7;
  padding: 10px;
  background-color: #ca4c4c;
}

.banner_container {
  padding: 20px;
  background-color: #f99b05;

}

.banner {
  padding: 10px;
  background-color: #f2df3b;
}

main {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  background-color: black;
}

.blog {
  flex-grow: 7;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #5a5f80;
}

.blog_content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.blog_colum1, .blog_colum2 {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

article {
  padding: 10px;
  background-color: #256eb1;
}

.navegacion {
  padding: 10px;
  background-color: #92c6e4;
}

aside {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #e04545;
}

.publicidad {
  padding: 10px;
  background-color: #f2df3b;
}

footer {
  padding: 20px;
  background-color: black;
}

.pie {
  padding: 10px;
  background-color: #f0e399;
}

@media (max-width: 600px) {

  .menu, main, .blog_content {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {

  .menu, main {
    flex-direction: column;
    }
  
}